@*@model IEnumerable<BootFlixBC7.Models.Serie>*@

@{
    ViewBag.Title = "Series";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Series</h2>
<table id ="serie" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Serie</th>
            <th>Genre</th> 
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @*@foreach (var serie in Model)
        {
        <tr>
            <td>@Html.ActionLink(serie.Name, "Edit", "Series", new { id = serie.Id }, null)</td>
            <td>@serie.Genre.Name</td>
            <td>
                <button data-serie-id="@serie.Id" class="btn-link js-delete">Delete</button>
            </td>
        </tr>            
        }*@
    </tbody>
</table>

<p>
    @Html.ActionLink("New Serie", "New", "Series", null, new { @class = "btn btn-primary"})
</p>

@section scripts 
{
    <script>
        $(document).ready(function () {
            let table = $("#serie").DataTable({
                ajax: {
                    url: "/api/series",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "name",
                        render: function (data, type, serie) {
                            //return "<a href='/series/edit/" + serie.id + "'>" + serie.name + "</a>";
                            return "<a href='/series/details/" + serie.id + "'>" + serie.name + "</a>";
                        }
                    },
                    {
                        data: "genre.name"
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn-link js-delete' data-serie-id=" + data + ">Delete</button>";
                        }
                    }
                ]
            });

            $("#serie").on("click", ".js-delete", function () {
                let button = $(this);

                bootbox.confirm(("Do you want to delete serie?"), function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/series/" + button.attr("data-serie-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });

            //$("#serie").on("click", ".js-edit", function () {
            //    let button = $(this);

            //    bootbox.confirm(("Edit Serie?"), function (result) {
            //        if (result) {
            //            $.ajax({
            //                url: "/api/series/" + button.attr("data-serie-id"),
            //                method: "PUT",                            
            //            });
            //        }
            //    }); 
            //});
        });
    </script>
}

